<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ca92b9">  <td>20/04/27 11:06:43</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;anothertryreport.beforetest()[pri:0, instance:tutsproject.anothertryreport@19bb07ed]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="ca92b9">  <td>20/04/27 11:06:49</td>   <td>6064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="anothertryreport.TestcaseFive()[pri:0, instance:tutsproject.anothertryreport@19bb07ed]">TestcaseFive</td> 
  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="ca92b9">  <td>20/04/27 11:06:52</td>   <td>9821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="anothertryreport.TestcaseFour()[pri:0, instance:tutsproject.anothertryreport@19bb07ed]">TestcaseFour</td> 
  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="ca92b9">  <td>20/04/27 11:06:55</td>   <td>12864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="anothertryreport.TestcaseOne()[pri:0, instance:tutsproject.anothertryreport@19bb07ed]">TestcaseOne</td> 
  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="ca92b9">  <td>20/04/27 11:06:59</td>   <td>16546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="anothertryreport.TestcaseSix()[pri:0, instance:tutsproject.anothertryreport@19bb07ed]">TestcaseSix</td> 
  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="ca92b9">  <td>20/04/27 11:07:09</td>   <td>26608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="anothertryreport.TestcaseThree()[pri:0, instance:tutsproject.anothertryreport@19bb07ed]">TestcaseThree</td> 
  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="ca92b9">  <td>20/04/27 11:07:12</td>   <td>29657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="anothertryreport.TestcaseTwo()[pri:0, instance:tutsproject.anothertryreport@19bb07ed]">TestcaseTwo</td> 
  <td>main@1390869998</td>   <td></td> </tr>
<tr bgcolor="ca92b9">  <td>20/04/27 11:07:15</td>   <td>32670</td> <td>&nbsp;</td><td title="&lt;&lt;anothertryreport.aftertest()[pri:0, instance:tutsproject.anothertryreport@19bb07ed]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1390869998</td>   <td></td> </tr>
</table>
