<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="936774">  <td>20/04/25 09:28:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="launchingpromo.TestcaseFive()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">TestcaseFive</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>20/04/25 09:29:03</td>   <td>10106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="launchingpromo.TestcaseFour()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">TestcaseFour</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>20/04/25 09:29:13</td>   <td>20190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="launchingpromo.TestcaseOne()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">TestcaseOne</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>20/04/25 09:29:13</td>   <td>20225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="launchingpromo.TestcaseThree()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">TestcaseThree</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>20/04/25 09:29:13</td>   <td>20336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="launchingpromo.TestcaseTwo()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">TestcaseTwo</td> 
  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>20/04/25 09:29:13</td>   <td>20404</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;launchingpromo.after()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>20/04/25 09:29:03</td>   <td>10103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;launchingpromo.aftermethod()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>20/04/25 09:29:13</td>   <td>20189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;launchingpromo.aftermethod()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>20/04/25 09:29:13</td>   <td>20224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;launchingpromo.aftermethod()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>20/04/25 09:29:13</td>   <td>20336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;launchingpromo.aftermethod()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>20/04/25 09:29:13</td>   <td>20402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;launchingpromo.aftermethod()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@2127036371</td>   <td></td> </tr>
<tr bgcolor="936774">  <td>20/04/25 09:28:46</td>   <td>-6853</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;launchingpromo.before()[pri:0, instance:tutsproject.launchingpromo@5a63f509]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2127036371</td>   <td></td> </tr>
</table>
